<template>
  <v-app>
    <!-- LOADER FOR PROCESSES IN APPLICATION -->
    <v-overlay
      :value="showLoader"
      :z-index="9999"
    >
      <v-progress-circular
        indeterminate
        size="64"
        color="#3a529a"
      />
    </v-overlay>

    <!-- CUSTOM MESSAGES FOR APPLICATION -->
    <v-snackbar
      v-model="showMessage"
      :color="typeMessage"
      top
      right
      :multi-line="multilineMessage"
    >
      <v-icon
        color="white"
        v-text="iconMessage"
        size="24"
      />
      <span style="font-size: 16px; margin-left: 15px">{{ message }}</span>
      <v-btn 
        text
        icon
        color="white"
        @click="showMessage = false"
        style="margin-left: 10px"
      >
        <v-icon size="24">mdi-close-circle-outline</v-icon>
      </v-btn>
    </v-snackbar>

    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-icon size="45" color="black">mdi-folder</v-icon>
        <span style="color: white; font-size: 25px; font-weight: 600; margin-left: 5px">forEach</span>
      </div>
    </v-app-bar>

    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
            <v-card
              class="elevation-12"
              style="background-color: rgba(255,255,255,0.600); border-radius: 10px; width: 390px"
            >
              <v-toolbar
                color="transparent"
                dark
                flat
              >
                <v-layout
                  row
                  wrap
                  justify-center
                  style="width: 100%; height: 0px"
                >
                  <v-icon size="60" color="black">mdi-card-account-details</v-icon>
                </v-layout>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Usuario"
                    name="username"
                    v-model="credentials.username"
                    prepend-icon="mdi-account"
                    type="text"
                    autocomplete="off"
                    :error-messages="errors.username"
                    v-on:keyup.enter="onSubmit"
                    @focus="focused.username = true"
                    @blur="focused.username = false"
                  />
                  <v-text-field
                    label="Contraseña"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="() => (showPassword = !showPassword)"
                    name="password"
                    v-model="credentials.password"
                    prepend-icon="mdi-lock"
                    :type="!showPassword ? 'text' : 'password'"
                    autocomplete="off"
                    :error-messages="errors.password"
                    v-on:keyup.enter="onSubmit"
                    @focus="focused.password = true"
                    @blur="focused.password = false"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions style="margin-top: 15px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px">
                <v-spacer />
                <v-btn
                  color="#435063"
                  style="width: 100%"
                  dark
                  @click="onSubmit">
                  <v-icon size="14">mdi-login</v-icon>
                  <span style="margin-left: 2px"> Login </span>
                </v-btn>
              </v-card-actions>
            </v-card>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import axios from 'axios'
  import { apiUrlBase } from '@/constants'
  export default {
    data() {
      return {
        showPassword: true,
        showLoader: false,
        submit: false,
        showMessage: false,
        multilineMessage: false,
        typeMessage: '',
        iconMessage: '',
        message: '',
        credentials: {
          username: '',
          password: ''
        },
        focused: {
          username: false,
          password: false
        },
        rules: {
          required: true
        }
      }
    },
    computed: {
      errors() {
        return {
          username: this.focused.username || !this.submit || this.credentials.username ? [] : ['Campo requerido'],
          password: this.focused.password || !this.submit || this.credentials.password ? [] : ['Campo requerido']
        }
      }
    },
    methods: {
      onSubmit() {
        this.submit = true
        this.showMessage = false

        if (!this.credentials.username || !this.credentials.password) {
          return
        }

        this.showLoader = true

        let payload = {
          username: this.credentials.username,
          password: this.credentials.password
        }

        // Connect with API Login service
        axios.post(`${apiUrlBase}/api/auth/login`, payload)
          .then(response => {
            this.processLogin(response)
          })
          .catch(error => {
            // Validate error message
            this.showMessage = true
            this.multilineMessage = false
            this.typeMessage = 'error'
            this.iconMessage = 'mdi-alert'
            if (!error.response) {
              // Connection refused
              this.message = 'No se ha podido establecer conexión con internet'
            } else if (error.response.status) {
              // Credentials error
              if (error.response.status < 500) {
                this.message = 'Credenciales inválidas'
              } else {
                // Internal server error
                this.message = 'Se produjo un error en el servidor. Espere un momento y reintente'
              }
            }
          })
          .finally(() => {
            this.showLoader = false
          })
      },
      processLogin(response) {
        // Save session variables
        this.$session.set('username', this.credentials.username)
        this.$session.set('access_token', response.data.meta.access_token)
        this.$session.set('token_expires_in', response.data.meta.expires_in)

        // Redirect to Travels route
        this.$router.push('/travel')
      }
    }
  }
</script>