<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-icon size="45" color="black">mdi-folder</v-icon>
        <span style="color: white; font-size: 25px; font-weight: 600; margin-left: 5px">forEach - Viajes</span>
      </div>

      <v-spacer />

      <v-menu
              bottom
              min-width="200px"
              rounded
              offset-y
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  x-large
                  v-on="on"
                >
                  <v-avatar
                    color="brown"
                    size="48"
                  >
                    <span class="white--text headline">{{$session.get('username')[0]}}</span>
                  </v-avatar>
                </v-btn>
              </template>
              <v-card>
                <v-list-item-content class="justify-center">
                  <div class="mx-auto text-center">
                    <v-avatar
                      color="brown"
                    >
                      <span class="white--text headline">{{$session.get('username')[0]}}</span>
                    </v-avatar>
                    <h3>{{$session.get('username')}}</h3>
                    <v-divider class="my-3"></v-divider>
                    <v-btn
                      depressed
                      rounded
                      text
                      @click="onLogout"
                    >
                      Cerrar sesión
                    </v-btn>
                  </div>
                </v-list-item-content>
              </v-card>
            </v-menu>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-container
          fluid
          class="title-container"
        >
          <v-layout class="mt-5">
            <h3
              class="title-layout"
              v-text="'Administración de los viajes de la empresa'"
              style="margin-top: 5px"
            />

            <v-spacer/>

            <v-flex style="flex: 0 0 auto; width: 250px">
              <v-text-field
                v-model="search"
                label="Buscar"
                append-icon="mdi-magnify"
              />
            </v-flex>
          </v-layout>
        </v-container>
        <v-container fluid>
          <v-data-table
            :headers="tableHeaders"
            :items="travels"
            item-key="name"
            class="elevation-1"
            :search="search"
            :loading="loading"
          >
            <template v-slot:top>
              <v-text-field
                v-model="search"
                label="Buscar"
                class="mx-4"
                style="display: none"
              ></v-text-field>
            </template>
          </v-data-table>
        </v-container>
      </v-container>
      <br
        v-for="(i, index) in 4"
        :key="index"
      >
    </v-main>
  </v-app>
</template>

<script>
  import axios from 'axios'
  import { apiUrlBase } from '@/constants'

  export default {
    created() {
      this.loading = true
    },
    mounted() {
      this.fetchTravel()
    },
    data() {
      return {
        search: null,
        travels: [],
        loading: false,
        tableHeaders: [
          {
            text: 'Nro. de viaje',
            value: 'number'
          },
          {
            text: 'Día y hora',
            value: 'created_at'
          },
          {
            text: 'Punto de inicio',
            value: 'address_of_the_starting_point'
          },
          {
            text: 'Punto de termino',
            value: 'end_point_address'
          },
          {
            text: 'Kilómetros recorridos',
            value: 'number_of_kilometers'
          },
          {
            text: 'Medio de transporte',
            value: 'conveyance_name'
          },
          {
            text: 'Personas en el viaje',
            value: 'number_of_persons_in_travel'   
          },
          {
            text: 'Ida y vuelta',
            value: 'is_round_trip'
          },
          {
            text: 'kgCO2 por persona',
            value: 'kgco2'
          }
        ]
      }
    },
    methods: {
      fetchTravel() {
        this.loading = true

        let headers = {
          headers: {
            Authorization: 'Bearer ' + this.$session.get('access_token')
          }
        }

        this.travels = []

        // Connect with API list of travels service
        axios.get(`${apiUrlBase}/api/travels`, headers)
          .then((response) => {
            var travelsData = response.data.data
            if (!travelsData) {
              travelsData = []
            }
            for (var i = 0; i < travelsData.length; i++) {
              this.travels.push({
                number: travelsData[i].number || '0',
                created_at: travelsData[i].created_at || 'N/A',
                address_of_the_starting_point: travelsData[i].address_of_the_starting_point || 'N/A',
                end_point_address: travelsData[i].end_point_address || 'N/A',
                number_of_kilometers: travelsData[i].number_of_kilometers || '0',
                conveyance_name: travelsData[i].conveyance_name || 'N/A',
                number_of_persons_in_travel: travelsData[i].number_of_persons_in_travel || '0',
                is_round_trip: travelsData[i].is_round_trip == true ? 'VERDADERO' : 'FALSO',
                kgco2: travelsData[i].kgco2 || 'N/A'
              })
            }
          })
          .catch(() => {
            this.$session.clear()
            this.$router.push('/login')
          })
          .finally(() => {
            this.loading = false
          })
      },
      onLogout() {
        this.showLoader = true

        let headers = {
          headers: {
            Authorization: 'Bearer ' + this.$session.get('access_token')
          }
        }

        // Connect with API Logout service
        axios.delete(`${apiUrlBase}/api/auth/logout`, headers)
          .finally(() => {
            this.showLoader = false
            this.$session.clear()
            this.$router.push('/login')
          })
      }
    }
  }
</script>